<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          <img class="emoji" title=":zap:" alt=":zap:" src="/assets/zap.png" height="20" width="20"> KAPOW
        </a>
      </h1>
      <p class="lead">Hello, I'm Gerard. I'm a programmer. You can find me <a href="https://github.com/{{ site.github.username }}">on GitHub</a>, <a href="https://twitter.com/{{ site.twitter.username }}">on Twitter</a>, <a href="https://stackoverflow.com/users/{{ site.stackoverflow.user }}">on Stackoverlow</a>, and from to time I write plugins for <a href="https://packagecontrol.io/browse/authors/{{ site.packagecontrol.author }}">Sublime Text</a>.</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

  </div>
</div>
