<div class="sidebar">
  <div class="container sidebar-sticky">

    <div class="sidebar-about">
      <div class="heading">
        <a class="kapow" href="{{ site.url }}">
          {% include avatar-svg.html %}
          {% include zap-svg.html %} KAPOW
        </a>
      </div>

      <p class="lead">Hello, I'm Gerard. I'm a software developer. You can find me on <a href="https://github.com/{{ site.github.username }}">GitHub</a> and from to time to time I write <a href="/sublime-text">Sublime Text</a> plugins.</p>

    </div>

    <nav class="sidebar-nav">
      {% comment %}
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      {% endcomment %}

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            {% if node.title != "Tags" %}
              <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <div class="sidebar-links">
      {% include icon-links.html fill="white" %}
    </div>
  </div>
</div>
