/*

Example output of syntax highlighting HTML:

<div class="language-sh highlighter-rouge">
  <div class="highlight">
    <pre class="highlight">
      <code>
        <span class="nv">$ </span>git <span class="nt">--version</span>
        git version 2.14.1
        <span class="nv">$ </span>lsb_release <span class="nt">-ds</span>
        Ubuntu 17.10
      </code>
    </pre>
  </div>
</div>

*/

pre {
    background: rgba(0,0,0,.05);
    overflow: auto;
    padding: 20px;
    margin: 40px 0;
    font-size: 80%;
}

pre, pre code {
    font-family: Menlo,Monaco,"Courier New",Courier,monospace;
}

.highlight pre {
    background: rgba(0,0,0,.05);
}

code.highlighter-rouge {
    background: rgba(230, 230, 230, 0.87);
    border-radius: 4px;
    font-size: 80%;
    margin: 0;
    padding: 0.2em 0.5em;
}
