@import "hyde/poole";
@import "hyde/syntax";
@import "hyde/syntax-dark";
@import "hyde/hyde";

.sidebar .sidebar-about img {
    height: 3.25rem;
    width: 3.25rem;
    display: inline-block;
    vertical-align: middle;
}

.highlight { background-color: #263238; }
code.highlighter-rouge { background: #f6f6f6; }
tbody tr:nth-child(odd) td code.highlighter-rouge { background: #f1f1f1; }

.tip {
  background-color: #dff0d8;
  color: #3c763d;
  border-radius: 4px;
  border: 1px solid #d6e9c6;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.tip .tip-heading { float: left; margin-right: .3rem;}

.questions {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}

.notified {
  padding-top: 1.5rem;
}
