@import "hyde/poole";
@import "hyde/syntax";
@import "hyde/syntax-dark";
@import "hyde/hyde";

.sidebar .sidebar-about img {
    height: 3.25rem;
    width: 3.25rem;
    display: inline-block;
    vertical-align: middle;
}

.tip {
  background-color: #dff0d8;
  color: #3c763d;
  border-radius: 4px;
  border: 1px solid #d6e9c6;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.tip .tip-heading { float: left; margin-right: .3rem;}

.questions, .related, .notified, .external {
  border-top: 1px solid #ddd;
  border-bottom: none;
  padding: 2rem 0 1.5rem 0;
  margin: 0;
}

.icon-links a {
  display: inline-block;
  margin: 0;
  padding: 1rem 1rem 1rem 1rem;
}

.sidebar .icon-links a:hover {
  background: #333;
}

.external .icon-links a:hover {
  background: #eee;
}

.posts .year {
  color: #968bd2;;
}

.tags {
  margin-top: 1rem;
}

.tag {
  margin: 10px 0;
}

.tag a {
  display: inline-block;
  background-color: #ddf4ff;
  color: #0969da;
  padding: 2px 15px;
  margin-right: 2px;
  border-radius: 6px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.tag a:hover {
  background-color: #0969da;
  color: #fff;
  text-decoration: none;
}

.related-posts li small,
.post time{
  color: #595959;
}

a {
  color: #217ABA;
}

a.kapow {
  text-decoration: none;
}

p a {
  // color: #165A8D;
}

blockquote {
  color: #757575;
}

.highlight {
  background-color: #263238;
}

a code.highlighter-rouge {
  color: #1F74B2;
}

code.highlighter-rouge {
  background: #f6f6f6;
}

tbody tr:nth-child(odd) td code.highlighter-rouge {
  background: #f1f1f1;
}
