---
# Only the main Sass file needs front matter (the dashes are enough)
---

$spacing-unit:     30px !default;

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

@import "syntax-highlighting";

* {
  margin: 0;
  padding: 0;
}

body {
  font: 13.34px helvetica, arial, clean, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

blockquote {
  font-style: italic;
  padding-left: 7px;
  color: #444;
  border-left: 4px solid #ddd;
  cite {
    &:before {
      content: '— ';
    }
    display: block;
    text-align: right;
    color: #111;
    font-style: normal;
  }
}

.footnote {
  text-decoration: none;
  margin-left: 3px;
}

.footnotes {
  margin: 30px 0;
  color: #aaa;
  padding: 10px 0 0 20px;
  border-top: 1px solid #ebf2f6;
}

.footnotes ol {
  padding: 0;
  margin: 0;
}

.footnotes ol li {
  line-height: .5em;
}

.post-footer {
    margin: 30px 0;
    padding: 30px 0;
    border-top: 1px solid #ebf2f6;
}

.min h2 {
  display: inline-block;
}

._404 h1 {
    font-size: 4em;
}

.post-list,
.site-footer ul {
    list-style-type: none;
}

ul.posts {
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

.site {
  font-size: 110%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.site-header {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .site-header a {
    color: #a00;
    text-decoration: none;
  }

  .site .site-header a:hover {
    color: black;
  }

  .site .site-header a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .site-header a.extra:hover {
    color: black;
  }

  .post-meta {
    color: #aaa;
  }

  .site-footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

  pre {
    border: 1px solid #ddd;
    padding: 0 .4em;
    font-size: 85%;
  }

  code.highlighter-rouge {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
    font-size: 85%;
  }
